.stockEntryContainer{
    padding: 20px;
}


  .documentBtn{
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: var(--transition);
    color: #F4F9FD;
  }
  .openedDocumentBtn {
    
    background: var(--edit-icon-color);

  }

  .closedDocumentBtn {

    background: var(--cancel-delete-icon-color);
  }

  .table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    background-color: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .tableHeaderLine{

    background: var(--side-bar-bg-color);
    color: var(--side-bar-color);
  }
  
  .tbody tr {
    padding: 20px;
  }
  

  .tableHeader {
    padding: 10px;
    border: 1.5px solid var(--general-text-color);
    text-align: left;
  }
  .productItem , .productName, .productOrderNum{
     text-align: center;
    padding: 10px;
    border-bottom: 1px solid var(--general-text-color);
    border-right: 1px solid var(--general-text-color);
  }
  .productOrderNum{
    border-left: 1px solid var(--general-text-color);
  }
  .productName{
    text-align: left;
  }
  .addItem {
    padding: 10px;
  }
  .addProdBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--edit-icon-color);
  }
  .addProdBtnIcon{

    font-size: 30px;
  }

  .deleteProdBtn {
    background-color: #ff4d4d;
    color: var(--primary-bg-color);
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: var(--transition);
  }
  
  .deleteProdBtn:hover {
    background-color: #ff3333;
  }

  .submitButton{
    padding: 10px 15px;
    background-color: var(--save-icon-color);
    color: var(--primary-bg-color);
    border-radius: 10px;

  }
  