:root {
  --max-width: 1100px;
  --general-text-color: #03464F;
  --primary-text-color: #136773;
  --secondary-text-color: #F6F3BD;
  --primary-bg-color: #F4F9FD;
  --side-bar-color: #F6F3BD;
  --side-bar-bg-color: linear-gradient(to bottom, rgba(10, 103, 115, 1), rgba(11, 128, 144, 0.8));
  --border-containers: #136773;
  --containers-bg: rgba(246, 243, 189, 0.4);
  --box-shadow: 0px 0px 10px 2px rgba(11, 128, 144, 0.45);
  --active-color: #F79401;
  --bold-text-color: #872A03;
  --transition: all 0.3s ease-out;
  --pagination-btns-color: rgb(135,42,3);
  --pagination-btns-disabled-color: rgba(135,42,3, 0.4);
  --table-border-color: #1366733d;
  
  --edit-icon-color: #0a8dc4;
  --save-icon-color: #12A406;
  --cancel-delete-icon-color: #CD0505;

  --add-items-color: #F79401;

}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  font-family: var(--font-roboto);
  background-color: var(--primary-bg-color);
  background-image: url("/vudka-fon.webp");
  background-size: 550px 550px;
  color: var(--general-text-color);
 
}

a {
  color: inherit;
  text-decoration: none;
}
 ul{
  list-style: none;
  padding: 0;
  margin: 0;
 }

 button{
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: 0;
 }

 .pages-title{
  font-size: 22px;
 }
 .search {
  width: 100%;
  border: 0.7px solid var(--primary-text-color);
  border-radius: 25px;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* .Toastify__toast {
  width: 100%;
  height: 100%;
  font-size: 20px; 
  padding: 15px; 

}

.Toastify__toast-body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--general-text-color);
  font-size: 20px;
}

.Toastify__toast-container{
  width: 450px;
  height: 100px;
}

.Toastify__toast-icon{
  width: 25px;
  height: 25px;
}

.Toastify__close-button {
  font-size: 16px; 
} */